.containerCheckListCHDimensioni {
  display:flex;
    
  background-color: #d3ceca;
  justify-content: center;
  
  margin-left:0px;
  
    margin-right: 0px;
 
}
.bottone_check_list {
 
  background-color:#828282;
  height: 40px;
}

.tabellaCHView {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  margin-left:5px;

  margin-right: 50px;
  
}
  
 
