.containerCheckListCHView {
   display: grid;
    
    background-color: #dcbe0f;
    justify-content: center;
    
    margin:10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Aggiungi ombra al lato destro e in basso */
}
.bottoneCH {
    background-color:#dcbe0f;
    height: 40px;
}

.tabellaCH {
    
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;    

}