
.bottone_check_list {
 
    margin-top: 20px;
    
    height: 40px;
}

.tabellaPanView {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
  }
  
  th, td {
    border: 1px solid #0c0b0b;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
  
  th {
    background-color: #b2c19c;
  }
