.checklist_dimensioni {
  display:flex;
  flex-direction: column; /* Per allineare i contenuti verticalmente */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra orizzontalmente */
  background-color: rgb(171, 170, 168);
  margin:10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Aggiungi ombra al lato destro e in basso */
}

.bottone_check_list {
 
    margin-top: 20px;
    background-color: rgb(249, 141, 9);
    height: 40px;
}

.tabella {
   
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #0c0b0b;
    padding: 8px;
    text-align: left;
    font-size: 14px;
  }
  
  th {
    background-color: #f1d847;
  }
