.ElementiSaldati {
    height: 100%;
    display: flex;
    flex-direction: column; /* Per allineare i contenuti verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra orizzontalmente */
    background-color: beige;
    margin:10px 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Aggiungi ombra al lato destro e in basso */
}

.elementi_select {
    margin: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: 200px;
    width: 400px; /* Larghezza del select */
    padding: 10px; /* Spazio interno delle opzioni */
    border-radius: 5px; /* Bordo arrotondato delle opzioni */
   border: 1px solid #f30909; /* Bordo delle opzioni */
}