.footer {
  
  text-align: center; /* Centra il contenuto orizzontalmente */
  background-color: rgb(171, 170, 168);
    margin:5px 100px ;
    /* margin-top:30px;
    margin-bottom: 100px;  */
}
.button-container-conferma {
   background-color: rgb(9, 58, 236);
    color: aliceblue;
    font-weight: 800;
    padding: 50px 50px; /* Padding per aggiungere spazio intorno al pulsante */
    margin: 30px 20px; /* Margin per aggiungere spazio tra i pulsanti */
  }
.button-container-stampa {
    display: flex;
    justify-content:space-around; /* Adjust as needed */
    
    
  }
  

  