.containerOperatore {
    display: grid;
    background-color: rgb(171, 170, 168);
    margin:5px ;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Aggiungi ombra al lato destro e in basso */
}
h2 {
    text-align: center;
}

.containerOperatoreCH {
    display: grid;
    margin:5px;
    /* background-color: rgb(171, 170, 168); */
    justify-content: center;
    background-image: linear-gradient(to bottom, #f9d404, #04040465);
    margin:10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.inputBoxOperatoreCH {
    margin: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: 200px;
    width: 300px; /* Larghezza del select */
    padding: 10px; /* Spazio interno delle opzioni */
    border-radius: 5px; /* Bordo arrotondato delle opzioni */
   border: 1px solid #f30909; /* Bordo delle opzioni */

}
.containerOperatorePanier {
    display: flex;
    justify-content: center;
    background-color: rgb(236, 235, 201);
    margin:20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Aggiungi ombra al lato destro e in basso */
}

.inputBoxOperatorePanier {
    margin: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: 200px;
    width: 300px; /* Larghezza del select */
    padding: 10px; /* Spazio interno delle opzioni */
    border-radius: 5px; /* Bordo arrotondato delle opzioni */
   border: 1px solid #f30909; /* Bordo delle opzioni */

}
.inputBoxOperatore {
    margin: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: 200px;
    width: 300px; /* Larghezza del select */
    padding: 10px; /* Spazio interno delle opzioni */
    border-radius: 5px; /* Bordo arrotondato delle opzioni */
   border: 1px solid #f30909; /* Bordo delle opzioni */

    
}
